<style type="text/css">
.chart {
    shape-rendering: crispEdges;
}

.mini text {
    font: 9px sans-serif;
}

.main text {
    font: 12px sans-serif;
}

.miniItem0 {
    fill: darksalmon;
    stroke-width: 6;
}

.subject,
.miniItem1 {
    fill: darksalmon;
    stroke-width: 6;
}

.other,
.miniItem2 {
    fill: slategray;
    fill-opacity: .7;
    stroke-width: 6;
}

.brush .extent {
    stroke: gray;
    fill: dodgerblue;
    fill-opacity: .365;
}

svg {
    background-color: white !important;
}

circle.subject {
    fill: darksalmon;
    stroke-width: 6;
}

circle.other {
    fill: slategray;
    fill-opacity: .7;
    stroke-width: 6;
}

</style>
<h1 class='artist-header'>{{chosen_artist.name}}</h1>
<input ng-if='artists_options' type="text" ng-model="chosen_artist.name" uib-typeahead="artist as option.name for option in artists_options | filter:{name:$viewValue} | limitTo:8" class="form-control search-bar" typeahead-on-select='selectedArtist($item, $model, $label, $event)'>




<div class="timeline-container">
    <h3>Displaying events from {{extent.dateMin | date:'fullDate'}} to {{extent.dateMax | date:'fullDate'}} </h3>
    

    <d3-timeline ng-if='events' events="events" min-date="extent.dateMin" max-date="extent.dateMax">
    </d3-timeline>
</div>
<div class="bubble-container">
    <d3-bubble-chart ng-if='node_data' nodes="node_data" aggregate="aggregate">
    </d3-bubble-chart>
</div>


