<style type="text/css">
.bubble-container {
    /*width: 40%;*/
  /* margin-left: auto;*/
    /*margin-right: auto;*/
    float: left;
    margin-left: 80px;
}

.chart {
    shape-rendering: crispEdges;
}

.mini text {
    font: 9px sans-serif;
}

.main text {
    font: 12px sans-serif;
}

.miniItem0 {
    fill: darksalmon;
    stroke-width: 6;
}

.subject,
.miniItem1 {
    fill: darksalmon;
    stroke-width: 6;
}

.other,
.miniItem2 {
    fill: slategray;
    fill-opacity: .7;
    stroke-width: 6;
}

.brush .extent {
    stroke: gray;
    fill: dodgerblue;
    fill-opacity: .365;
}

svg {
    background-color: white !important;
}

circle.subject {
    fill: darksalmon;
    stroke-width: 6;
}

circle.other {
    fill: slategray;
    fill-opacity: .7;
    stroke-width: 6;
}

.map-container {
  /*  width: 80%;*/
  /*  margin-left: auto;*/
   /* margin-right: auto;*/
   float: left;
}

.view-container {
    margin-left: 10%;
    margin-right: auto;
}

</style>

<h1 class='artist-header'>Displaying performing history for: {{chosen_artist.name}}</h1>
<h3>Displaying events from {{extent.dateMin | date:'fullDate'}} to {{extent.dateMax | date:'fullDate'}} </h3>


<input placeholder="Search an artist's name to visualize their history..." ng-if='artists_options' type="text" ng-model="chosen_artist.name" uib-typeahead="artist as option.name for option in artists_options | filter:{name:$viewValue} | limitTo:8" class="form-control search-bar" typeahead-on-select='selectedArtist($item, $model, $label, $event)'>

<div class="view-container">
<div class="bubble-container">
    <d3-bubble-chart ng-if='node_data' nodes="node_data" min-date="extent.dateMin" max-date="extent.dateMax" test='test' timeline='extent'>
    </d3-bubble-chart>
</div>
<div class="map-container">
    <d3-artist-map ng-if='map && events' events='events' routes='routes' map='map' test='test' timeline='extent'></d3-artist-map>
</div>

<div class="timeline-container">   
    <d3-timeline ng-if='events' events="events" min-date="extent.dateMin" max-date="extent.dateMax" time-changed='refreshMap()'>
    </d3-timeline>
</div>
</div>

