<style type="text/css">
		.chart {
			shape-rendering: crispEdges;
		}

		.mini text {
			font: 9px sans-serif;	
		}

		.main text {
			font: 12px sans-serif;	
		}

		.miniItem0 {
			fill: darksalmon;
			stroke-width: 6;	
		}

		.subject, .miniItem1 {
			fill: darksalmon;
			stroke-width: 6;	
		}

		.other, .miniItem2 {
			fill: slategray;
			fill-opacity: .7;
			stroke-width: 6;	
		}

		.brush .extent {
			stroke: gray;
			fill: dodgerblue;
			fill-opacity: .365;
		}

		svg {
			background-color: white !important;
		}

		circle.subject {
			fill: darksalmon;
			stroke-width: 6;	
		}

		circle.other {
			fill: slategray;
			fill-opacity: .7;
			stroke-width: 6;	
		}

</style>




<p>Displaying test timeline data for Lolawolf.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
<div class="timeline-container">

<input ng-model="dateMax"> <i>
<input ng-model="dateMin"> <i>
 
<d3-timeline events="timeline_data" min-date="dateMin" max-date="dateMax">
</d3-timeline>
   

<d3-bubble-chart nodes="node_data" aggregate="aggregate">
</d3-bubble-chart>

