<h2>{{current_venue || 'hover over nodes'}}</h2>
<div class="map-container">
    <input ng-if='city_options' type="text" ng-model="chosen_city.name" uib-typeahead="city as option.name for option in city_options | filter:{name:$viewValue} | limitTo:8" class="form-control search-bar" typeahead-on-select='selectedCity($item, $model, $label, $event)'>
    <d3-map ng-if='map && points' points='points' map='map' chosencity='chosen_city' on-mouse-over="showDetailPanel(item)" test='test'></d3-map>
</div>
<h1 class='city-header'> {{chosen_city.name}} </h1>
<div class="chart">
    <d3-bar ng-if='artists && venues' artists='artists' venues='venues' test='test'></d3-bar>
    <div ng-if='chosen_city' class="row">
        <div class="chart-artists col-md-6">
            <!-- <div class="title">Artists</div> -->
        </div>
        <div class="chart-venues col-md-6">
            <!-- <div class="title">Venues</div> -->
        </div>
    </div>
    <!-- <div class=""></div>
	<div class="chart-venues"></div> -->
</div>
<uib-pagination total-items="totalItems" ng-model="item" ng-change="setNewDecade()" page-label='getDecadeName($page)'></uib-pagination>
